*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navibar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    position: fixed;
    background-color:black;
}

#navibar h2,h3 {
    color:white;
    margin-left:20px;
    margin-top:20px;
}
h1 {
    text-align: center
}

#navibar div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#navibar a{
    color:white;
    margin:20px;
    font-size:20px;
    border:2px solid white;
    text-decoration:none;
    padding:5px;
}
/*=================1==================*/
#campus1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    margin-bottom: 600px;
}

.nineGrid {
    border:1px black solid;
    padding:15px 10px 0px 10px;
    border-color:blue;
    background-color:aqua;
}

/*=================2==================*/
#campus2 {
    margin-bottom: 600px;
}

#campus2 fieldset {
    width: min-content;
    border: 5px red solid;
    border-radius: 15px;
    margin: auto;
}

legend {
    padding: 10px;
    margin-left:40px;
    font-weight:800;
    font-size:25px;
}

#campus2 div{
    width:720px;
    margin:0px 40px 20px 40px;
    padding-bottom:20px;
    border-bottom:3px dashed #DDD;
}

#campus2 input{
    height:30px;
}

#campus2 .title {
    font-size: 20px;
}
#span-pw,#span-name,#span-date{
    font-size:14px;
}
#campus2 .info {
    font-size: 14px;
    color: #666;
}

.bi-x-circle{
    color:red;
}

.bi-check-circle{
    color:green;
}

/*===================================================================*/